<h2>Create Quote Form</h2>

<a href="/quote">Back To Home Page</a>

<form method="POST" action="/quote">
  <div>
  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <p>
  <label for="created-at">Created At:</label>
  <input type="date" name="createdAt" id="created-at">
  </p>
  //<p>
  //<label for="quote-status">Status:</label>
  //<input type="text" name="status" id="quote-status">
  //</p>
  <p>
  <label for="quote-priority">Priority Level:</label>
  <input type="text" name="priority" id="issue-priority" placeholder="High, Medium or Low">
  </p>
  <p>
  <p><label for="quote-description">Description:</label>
  <textarea name="description" id="quote-description" cols="30" rows="10"></textarea>
  </p>
  </div>
  <input type="submit" value="Create Quote" />
</form>