<h2>Create Issue Form</h2>

<a href="/issues">Back To Home Page</a>

<form method="POST" action="/issues">
  <div>
  <!--
    Template for creating input form for a string object key called stringMember
    NOTE: for numeric input fields use `type="number"`
  --->
  <p>
  <label for="created-at">Created At:</label>
  <input type="date" name="createdAt" id="created-at">
  </p>
  <p>
  <label for="issue-status">Status:</label>
  <input type="text" name="status" id="issue-status">
  </p>
  <p>
  <p><label for="issue-description">Description:</label>
  <textarea name="description" id="issue-description" cols="30" rows="10"></textarea>
  </p>
  </div>
  <input type="submit" value="Create Issue" />
</form>